<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- 自动扫描包 -->
    <context:component-scan base-package="com.sxy.spring"></context:component-scan>

    <!-- 启动 @Aspectj 的自动代理支持 -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <!--<aop2:config expose-proxy="true">-->
    <!--<aop2:pointcut id="xxx" expression="execution(* com.hand.sxy.*(..))"/>-->
    <!--<aop2:aspect ref="logaspect">-->
    <!--<aop2:before method="tttttt" pointcut-ref="xxx"></aop2:before>-->
    <!--<aop2:after method="tttttt" pointcut-ref="xxx"></aop2:after>-->
    <!--<aop2:around method="tttttt" pointcut-ref="xxx"></aop2:around>-->
    <!--&lt;!&ndash; 还有各种通知 &ndash;&gt;-->
    <!--</aop2:aspect>-->
    <!--</aop2:config>-->

    <beans>
        <bean id="arithmeticCalculatorImpl" class="com.sxy.spring.spring.aop2.ArithmeticCalculatorImpl"/>
    </beans>

</beans>
